**/__pycache__

*.egg-info/
venv_neurokraken/*
uv.lock

logs/*
!logs/.gitkeep

teensy/*
!teensy/teensy.ino
!teensy/_Networker.h
!teensy/_Utils.h
!teensy/_DebugUtils.h
!teensy/_SSD1306Display.h
!teensy/Sensors.h
!teensy/StartStop.h
!teensy/DirectOn.h
!teensy/TimedOn.h
!teensy/RotEnc.h
!teensy/PulseClock.h
!teensy/CapacitiveRead.h
!teensy/ServoMotor.h
!teensy/Tone.h
!teensy/Stepper.h
!teensy/put_your_Config.h_here.info

tasks/*
!tasks/.gitkeep

history/last_args.txt

**/cutie_weights

build/*

*.blend1
*_vizdoom.ini
**/GazeTracking/

examples/Neurokraken_*
