# Entries marked as # EDITED have been change from the original eval_config.yml and different values can be tried to change cuties
# long-term/short-term memory focus and resolution

defaults:
  - _self_
  - model: base
  - override hydra/job_logging: custom-no-rank.yaml

hydra:
  run:
    dir: ../output/${exp_id}/${dataset}
  output_subdir: ${now:%Y-%m-%d_%H-%M-%S}-hydra

exp_id: default
dataset: d17-val
amp: True              # EDITED
weights: output/cutie-base-mega.pth
output_dir: null # defaults to run_dir; specify this to override
flip_aug: False

# maximum shortest side of the input; -1 means no resizing
# With eval_vos.py, we usually just use the dataset's size (resizing done in dataloader)
# this parameter is added for the sole purpose for the GUI in the current codebase
# InferenceCore will downsize the input and restore the output to the original size if needed
# if you are using this code for some other project, you can also utilize this parameter
max_internal_size: -1  # NOT EDITED as 480 causes error: "align_corners option can only be set with the interpolating modes: linear | bilinear | bicubic | trilinear"
max_overall_size: 720  # EDITED

# these parameters, when set, override the dataset's default; useful for debugging
image_directory: null
mask_directory: null
json_directory: null
size: null
save_all: null
use_all_masks: null
use_long_term: True
mem_every: 1             # EDITED

# only relevant when long_term is not enabled
max_mem_frames: 5

# only relevant when long_term is enabled
long_term:
  count_usage: True
  max_mem_frames: 2      # EDITED
  min_mem_frames: 1      # EDITED
  num_prototypes: 128
  max_num_tokens: 10000   # EDITED
  buffer_tokens: 2000

top_k: 30
stagger_updates: 5
chunk_size: -1 # number of objects to process in parallel; -1 means unlimited
save_scores: False
save_aux: False
visualize: False
